name: cursAvanPy
channels:
  - defaults
dependencies:
  - python=3.10
  - mypy
  - zeromq
  - libsodium
  - asttokens
  - certifi
  - pickleshare
  - wcwidth
  - backcall
  - libstdcxx-ng
  - openssl
  - executing
  - pyzmq
  - wheel
  - pexpect
  - pip
  - libffi
  - pure_eval
  - readline
  - parso
  - python-dateutil
  - matplotlib-inline
  - libuuid
  - ca-certificates
  - tk
  - zlib
  - nest-asyncio
  - ipython
  - stack_data
  - ptyprocess
  - jedi
  - _openmp_mutex
  - ncurses
  - setuptools
  - pygments
  - six
  - tornado
  - traitlets
  - xz
  - sqlite
  - decorator
  - bzip2
  - debugpy
  - libgcc-ng
  - jupyter_core
  - jupyter_client
  - libgomp
  - ld_impl_linux-64
  - prompt-toolkit
  - tzdata
  - entrypoints
  - _libgcc_mutex
  - ipykernel
  - pytz
prefix: /home/cpizar/anaconda3/envs/cursAvanPy
